#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4e5763;
  color: white;
}

.body {
  background-color: rgb(157, 173, 189);
  background-image: url("5adc5af62de5e.jpg");
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  min-height: 84vh;
  max-height: 84vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
